/* CSS as copied from github's own stylesheet here, which is all one line anyway */

...

/* And then your own CSS */


img {
  border: 1px solid #444;
}

@font-face {
  font-family: BetterHeader;
  src: url(...) format("WOFF2");
}

h1,h2,h3,h4,h5,h6 {
  font-family: BetterHeader, Helvetica, Arial, sans;
}

...
